///
/// Override @cloudfour/patterns CSS styles for demo purposes
///

$viewport-size-small-max: 39.999em;

///
/// The Sky Nav pattern is progressively enhanced. By default, no JS is assumed.
/// This means the menu is rendered open if JS is disabled.
///
/// The Sky Nav pattern has 3 states:
/// - 'is-default': No JS
/// - 'is-loading': JS enabled, Sky Nav JS hasn’t loaded and initialized
/// - 'is-ready': JS enabled, Sky Nav JS loaded and initialized
///
/// 1. Make sure the menu is accessible when JS is disabled
/// 2. Keeping the menu hidden while the Sky Nav JS loads is the key to
///    maintaining a great Cumulative Layout Shift score.
/// 3. Once the Sky Nav has initialized, reset its display. The Sky Nav JS takes
///    over and toggles the menu open/closed.
///
.c-sky-nav__menu-items {
	@media (max-width: $viewport-size-small-max) {
		[data-state='is-loading'] & {
			display: none; // 2
		}
		[data-state='is-default'] &,
		[data-state='is-ready'] & {
			display: block; // 1, 3
		}
	}
}

///
/// 1. The button toggle is not needed if JS is disabled
/// 2. During the 'loading' and 'ready' state, show the button
///
.c-sky-nav__menu-toggle {
	@media (max-width: $viewport-size-small-max) {
		[data-state='is-default'] & {
			display: none; // 1
		}

		[data-state='is-loading'] &,
		[data-state='is-ready'] & {
			display: inline-flex; // 2
		}
	}
}
