///
/// The Sky Nav pattern is progressively enhanced; no JS is assumed by default.
/// This means the menu is rendered open if JS is disabled.
///

$viewport-size-small-max: 39.999em;

///
/// Override @cloudfour/patterns menu toggle styles for demo purposes
///
.c-sky-nav__menu-toggle {
	@media (max-width: $viewport-size-small-max) {
		///
		/// Demo: Synchronous Inline Script
		///
		/// For this demo, the Sky Nav pattern has 3 states:
		/// - 'is-default': No JS
		/// - 'is-loading': JS enabled, Sky Nav JS hasn’t loaded and initialized
		/// - 'is-ready': JS enabled, Sky Nav JS loaded and initialized
		///
		/// 1. The button toggle is not needed if JS is disabled
		/// 2. During the 'loading' and 'ready' state, show the button
		///
		[data-state='is-default'] & {
			display: none; // 1
		}

		[data-state='is-loading'] &,
		[data-state='is-ready'] & {
			display: inline-flex; // 2
		}
	}
}

///
/// Override @cloudfour/patterns menu styles for demo purposes
///
.c-sky-nav__menu-items {
	@media (max-width: $viewport-size-small-max) {
		///
		/// Demo: Synchronous Inline Script
		///
		/// For this demo, the Sky Nav pattern has 3 states:
		/// - 'is-default': No JS
		/// - 'is-loading': JS enabled, Sky Nav JS hasn’t loaded and initialized
		/// - 'is-ready': JS enabled, Sky Nav JS loaded and initialized
		///
		///
		/// 1. Make sure the menu is accessible when JS is disabled
		/// 2. Keeping the menu hidden while the Sky Nav JS loads is the key to
		///    maintaining a great Cumulative Layout Shift score.
		/// 3. Once the Sky Nav has initialized, reset its display. The Sky Nav JS takes
		///    over and toggles the menu open/closed.
		[data-state='is-loading'] & {
			display: none; // 2
		}
		[data-state='is-default'] &,
		[data-state='is-ready'] & {
			display: block; // 1, 3
		}
	}
}
